/* Base theme */
.bn-container[data-theming-css-variables-demo][data-color-scheme] {
    --bn-border-radius: 16px;
}

.bn-mt-suggestion-menu-item-subtitle {
    display: none;
}

.bn-slash-searching .bn-mt-suggestion-menu-item-subtitle {
    display: block;
}

.bn-mt-suggestion-menu-item-section[data-position="left"] {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}

.bn-mt-suggestion-menu-item-section[data-position="left"] svg {
    width: 16px !important;
    height: 16px !important;
}

.bn-suggestion-menu-item-small .bn-mt-suggestion-menu-item-section[data-position="left"] svg {
    width: 16px !important;
    height: 16px !important;
}

.bn-suggestion-menu-item:hover,
.bn-suggestion-menu-item[aria-selected="true"] {
    border-radius: 16px;
}

.bn-suggestion-menu-item-small:hover,
.bn-suggestion-menu-item-small[aria-selected="true"] {
    border-radius: 16px;
}

.bn-mantine .bn-suggestion-menu {
    scrollbar-width: thin;
    scrollbar-color: var(--bn-colors-hovered-background) transparent;
}

.bn-mantine .bn-suggestion-menu::-webkit-scrollbar {
    width: 8px;
}

.bn-mantine .bn-suggestion-menu::-webkit-scrollbar-track {
    background: transparent;
}

.bn-mantine .bn-suggestion-menu::-webkit-scrollbar-thumb {
    background-color: var(--bn-colors-hovered-background);
    border-radius: 8px;
}

.bn-mantine .bn-suggestion-menu::-webkit-scrollbar-thumb:hover {
    background-color: var(--bn-colors-selected-background);
}

.tableWrapper {
    scrollbar-width: thin;
    scrollbar-color: var(--bn-colors-hovered-background) transparent;
}
